/* #SvgjsPath1028 {
    fill: #F9F5E5 !important;
}
#SvgjsPath1041 {
    fill: #232531 !important;
}
#SvgjsPath1015 {
    fill: #F15B46 !important;
}

#SvgjsPath1015:hover {
    fill: #F15B46 !important;
} */

