
.noticeDivButtons{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.plusButton{
    width: 48px;
    height: 48px;
    background-color:#F15B46;
    border: transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #FBFBFB;
}

.publishNoticeDiv {
    position: relative;
    width: 100%;
    top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAreaInNotice{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    min-height: 250px;
    background-color: transparent;
    color: black;
    font-size: 15px;
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
}
.textAreaInNotice:focus {
    outline: 2px solid #0b5ad8c7; /* Set the outline color and width */
}

.publishNoticeShadow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    border: 1px solid black;
    box-shadow: 6px 10px 26px 0 rgba(135, 135, 135, 0.1), 25px 39px 47px 0 rgba(135, 135, 135, 0.09);
    border: 1px solid #DFDFDF;
}

.textFieldOfPublishNotice{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cadetblue;
}

.noticeOrNoteButton {
    background-color: #FFFFFF;
    color: #111113;
    border: 1px solid #8080807d;
    width: 127px;
  }